*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: hsl(222,26%,31%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
    overflow-x: hidden;

}
.taggle{
    display: flex;
 justify-content: flex-end;
}
.taggle p{
    margin: 0 7px;
    color: #FFF;
    cursor: pointer;
}
h3{
    color: #FFF;
    margin-right: auto;
}
.control p{
    float: right;
    margin-right: 10px;
    color: #FFF;
}
.screen{
    width: 450px;
}
.screene{
    width: 100%;
    height: 100px;
    margin: 10px 0;
    background-color: rgb(24,32,51);
    border: none;
    outline: none;
    font-size: 30px;
    text-align: end;
    padding: 12px;
    color: #000;
    border-radius: 8px;
}
input{
    color: #FFF;
}
button{
    width: 90px;
    padding: 15px;
    outline: none;
    cursor: pointer;
    border: 0;
    border-radius: 5px;
    box-shadow: 0px 3px 0px 0px hsl(224deg 26% 35%);
    margin: 10px 10px;
    font-size: 35px;

}
.btn{
    display: flex;
    width: 450px;
    flex-flow: wrap;
    background-color: hsl(224, 36%, 15%);
    padding: 10px 5px;
    margin: 15px 0;
}
.reset, .egale{
    width: 200px;
    color: #fff;
}
.reset, .del{
    background-color: rgb(53,119,129);
    color: #FFF;
}
.egale{
    background-color: rgb(185,81,9);
}
.circle{
    width: 60px;
    height: 14px;
    border-radius: 50px;
    background-color: rgb(24,32,51);
    float: right;
    margin-top: 3px;
    display: flex;
}
 .point{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgb(208,63,46);
    margin-top: 2px;
    margin-left: 2px;
    cursor: pointer;
}  
.point2 {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgb(199, 104, 22);
    margin-top: 2px;
    margin-left: 23px;
    cursor: pointer;
    display: none;
}
.point3 {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgb(8, 199, 191);
    margin-top: 2px;
    margin-left: 45px;
    cursor: pointer;
    display: none !important;
}
.point3,
.point3,
.point{
    display: flex;
    align-items: center;
    justify-content: center;
    position:absolute;
}
@media screen and (max-width:768px) {
.container {
        justify-content: center;
        align-items: center;
    }

    .btn {
        width: 320px;
        margin: 0;
        padding: 0;
    }

    button {
        width: 60px;
        font-size: 15px;
    }

    .reset,
    .egale {
        width: 140px;
        color: #fff;
    }

   

    .screen {
        width: 320px;
        color: #000;
        
    }


}
